<!-- <div class="header">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>ChatMap</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </div> -->

  <div class="login" [hidden]="isAuthenticated">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="Enter your name" name="usename"
      [(ngModel)] ="username">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]= "password">
      </mat-form-field>
      <button class="submitLogin" mat-raised-button color="primary" (click)="submit()">Submit</button>
      <span *ngIf="show"> <button mat-button color="accent">Login success !!</button></span>
    </form>
  </div>




  <!-- <div class="login-card">
    <h1>ChatMap</h1>
    <div class="inputContainer">
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
      <label for="password">Password</label>
      <input type="text" id="password" name="password">
    </div>
  </div> -->