<div class="home-page">
  <div class="header">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>ChatMap</span>
        <span class="example-spacer"></span>


        <button mat-icon-button [matMenuTriggerFor]="menu" class="header-button" aria-label="Example icon button with a menu icon">
          <mat-icon>person_box</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="loginService.isAuthenticated==false" (click)="loginService.showLogin()">
            <mat-icon>login</mat-icon>
            <span>Login</span>
          </button>
          <button mat-menu-item *ngIf="loginService.isAuthenticated==true">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
          <button mat-menu-item *ngIf="loginService.isAuthenticated==false" (click)="loginService.showRegister()">
            <mat-icon>person_add</mat-icon>
            <span>Create Account</span>
          </button>
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>

    </mat-toolbar>
  </div>

  <!-- <log-in-page *ngIf="loginService.isShowingLogin==true"></log-in-page> -->
  <log-in-page [hidden]="loginService.isShowingLogin==false"></log-in-page>
  <app-register [hidden]="loginService.isShowingRegister==false"></app-register>


  <div class="map">
    <agm-map [latitude]="latitude" [longitude]="longitude" [disableDefaultUI] = "true" (mapClick)="onMapClick($event)">
      <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng">
        <agm-info-window>
          <p>{{marker.createdBy}}</p>
          <p>{{marker.title}}</p>
          <p>{{marker.content}}</p>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>

  <!-- <div class="map" >
    <agm-map [latitude]="latitude" [longitude]="longitude">
      <div class="testButton">
        <button type="button">Click Me!</button>
      </div>
    </agm-map>
  </div> -->

  <div class="controls-toolbar">
    <mat-toolbar color="secondary">
      <mat-toolbar-row>

      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  </div>