.home-page {
    height: 100%;
    width: 100%;
    margin: 0;
}
agm-map {
    height: 550px;
    height: 750px;
}
.testButton {
    background-color: greenyellow;
}
.example-icon {
    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
}
.header .mat-toolbar.mat-primary {
    background: #000;
    color: #fff;
    min-height:100px;
}
.header-button {
    background-color: #000;
    color: #fff;
    height: 40px;
    width: 50px;
    margin-top: 23px;
    margin-right: 15px;
    cursor: pointer;
}
.controls-toolbar .mat-toolbar.mat-secondary {
    background: #000;
    color: #fff;
    min-height:60px;
}
.login {
    margin-top:20px;
}
.submitLogin {
    margin-bottom:20px;
    margin-left:20px;
}
.logo {
    height: 70px;
    margin-top: 25px;
}